{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}


{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}


{% if msg %}
  <div class="alert alert-success" style="color:black; background-color:rgb(29,185,84);">{{msg}}&nbsp;<i class="fa-regular fa-thumbs-up" style="color:black"></i></div>
  <!-- Thumbs up emoji -->
  
{% endif %}
